<h3>Hello {{user.name}} !!!</h3>

<div class="card text-white bg-primary">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4  class="card-title">Work Number : 1</h4>
    <p class="card-text">Complaint : AH-104 projector repair</p>
  </div>
</div>

      <a href="" target="_blank">
        <Button>OK</Button>
      </a>
      
